*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
    
}

.nombre-link{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color:#fff; 
}

.contenedor{
    padding: 60px 0;

    margin:auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-width: 90%;
}

.titulo{
    font-weight: 700;
    font-family:'Amatic SC', cursiva; ;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 20px;
    color:#1d2778;
   


}

header{
    width: 100%;
    height: 600px;  
    background-image: url(/multimedia/imagen-principal.jpg);
    background-attachment: fixed;
    background-size: cover; 
    position: relative; 
     


}

nav{
    text-align: right;
    padding: 30px 50px 0 0;  

}

nav a{
    color: #fff;
    font-size: 300;
    text-decoration: none;
    margin-right: 20px; 
}


header .textos-header{
    display: flex;
    height: 430px;
    width: 50%;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}

nav a:hover{
    text-decoration: underline;
    
}

.textos-header H1{
    font-size: 50px;
    color: #8c52ff
   

}

.textos-header H2{
    font-size: 30px;
    font-weight: 300;
    color: #f1bf42;
}


.wave{
    position: absolute;
    width: 100%;
}

/* about us */

main{
    padding: 30px 0 60px 0;
    background: #f5ebde;
    
}

.contenedor-bienvenidos{
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    height: 355px;
}



.imagen-about-us {
    max-width: 44%;
    height: 355px;
    border-radius: 20px;
}

.contenedor-bienvenidos .contenido-textos{
     
    background: #f1bf4295;
    border-radius: 20px;
    max-width: 40%;
}

.contenido-textos{
     color: #ffffff;
     font-size: 15px;
     margin: 20px;
     flex-wrap: wrap;
     padding: 50px;
     
}
.contenido-textos p{
 
    margin-top: 10px;
    margin-bottom: 46px;
    font-family: Poppins, sans-serif;
    max-width: 100%;
    padding: 2px;
}


.contenido-textos a{

    text-decoration: none;
    background-color: #a390d5;
    color: white;
    padding: 8px;
    border-radius: 50px;
}

.contenido-textos a:hover{
    background-color: #bea9e6;
}



/*galeria*/

.portafolio{
    background: #f2f2f2;

}

.portafolio h2{
    position:relative;
    top: 50px;
    

}



.galeria-port{
    display: flex;
    justify-content:space-evenly ;
    flex-wrap: wrap;
}

.imagen-port{
    width: 30%;
    height: 200%;
    margin-bottom:10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.imagen-port img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 42%, 46%, 0.7);
    transition: transform .5s;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hover-galeria p{
    width: 70px;
    margin-top: 100px;
   
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}


/*donaciones*/

.contenedor-donaciones{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    
   
}

.contenedor-donaciones h2{
    position: relative;
    left: 600px;
    bottom: 350px;
    
}

.contenedor-voluntarios{
    width: 28%;
    text-align: center;
}

.contenedor-voluntarios img{
    width: 100%;
    
}

.contenedor-voluntarios h3{
    margin: 10px 0;

}

.contenedor-voluntarios p{
    font-weight: 300;
    text-align: center;

    
} 

/*footer*/

#footer{
    background-color: #a390d5;
    padding: 10px;
    
}

#info-footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Mukta', sans-serif;
    padding: 10px;
    color:#fff;
}
#info-footer h5{
    font-size: 14px;
}

#info-footer h6{
    font-size: 12px;
}    

#redes ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding: 5px;
    margin: 1px;
}

#redes li{
    padding: 10px;
}

#redes svg{
    color:#fff;
}


@media (min-width: 720px) and (max-width:910px){
    .contenido-textos {
        padding: 20px;
    }
}

@media (max-width: 719px){

    .contenedor{
        justify-content: center;
    }

    .imagen-about-us {
        border-radius: 20px 20px 0px 0px;
        max-width: 90%;
        margin: 20px;
        margin-bottom: 0px;
    } 

    .contenedor-bienvenidos .contenido-textos{
    border-radius: 0px 0px 20px 20px;
    max-width: 90%;
    margin-top: 0px;
   }

   .contenedor-bienvenidos{
    display: contents;
   }
}





@media (max-width: 768px) {

    .wave{
        height: 131px;
    }

}

@media (min-width: 377px) and (max-width: 505px) {
    .textos-header h1 {
        font-size: 33px;
    }

    .textos-header h2 {
        font-size: 25px;

    }
    .wave{
        height: 69px;
    }
    
    header{
        background-size: 135% 90%;
    }

    .titulo {
        margin-bottom: 48px;
        margin-top: 10px;
        margin-left: 26px;
    }

    .contenedor-donaciones {
        justify-content: space-around;
        margin: 8px 12px 0px 9px;
    }


    .contenedor-voluntarios h3 {
    
        font-size: 20px;
    }

    .contenedor-voluntarios p {

        font-size: 14px;
        padding: 3px;
    }

}

@media (max-width: 376px){

    main {
        padding: 30px 0 0px 0;
    }

    .wave{
        height: 36px;
    }
    header{
        background-size: 159% 153%;
    }

    .titulo {
        font-size: 35px;
        margin-bottom: 10px;
        margin-top: 24px;

    }

    .textos-header h1 {
        font-size: 23px;
    }

    .textos-header h2 {
        font-size: 20px;
    }


    .portafolio h2 {
    top: 16px;
    }

    .contenedor-voluntarios h3 {
        font-size: 18px;
    }

    .contenedor-voluntarios p {

        font-size: 11px;
        padding: 3px;
    }

    .contenedor-donaciones {
        justify-content: space-evenly;
    }
}
